div.uk-navbar-container.tm-navbar-container(uk-sticky="cls-active: tm-navbar-container-fixed")
  div.uk-container(uk-navbar)(style="height:55px;")

    div.uk-navbar-left.uk-child-1-3

      //- Hamburger
      button(class="uk-navbar-toggle uk-hidden@m"
             uk-toggle="target: #nav-offcanvas"
             uk-navbar-toggle-icon)

      //- Logo
      a.uk-navbar-item.uk-logo(href="/")
        img(src="images/logo.png" width="auto" height="40" alt="Logo")

      //- Navigation
      nav(class="uk-visible@m")
      

    div.uk-navbar-center.uk-width-expand.uk-flex-center.uk-width-1-3(style="width:600px;")
      div#searchForm.uk-search.uk-search-default.uk-search-icon-flip(style="width:600px;background-color:#f0f0f0;")
        a#search_link.uk-search-icon-flip(href='', uk-search-icon='',style="border-radius-left-top:3px;")
        input#searchField.uk-search-input(type='text', placeholder='search a product', style="margin-left:10px;")

     
    div.uk-navbar-right.uk-flex-center.uk-width-1-6
      //- User
      if(session != "not_logged_in")  
          a.uk-navbar-item.tm-navbar-button
            +icon("user")(class="uk-margin-small-right")
            span.tm-pseudo  ACCOUNT
          div(class="uk-padding-small uk-margin-remove"
              uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;"
              style="min-width: 150px;") 
            
              ul.uk-nav.uk-nav-default.uk-dropdown-nav
                li
                  a(href="/orders")
                   +icon("cart")(class="uk-margin-small-right")
                   span.tm-pseudo Orders
                li
                  a(href="/favorites") 
                    +icon("heart")(class="uk-margin-small-right")
                    span.tm-pseudo Favorites
                li
                  a(href="/personal") 
                    +icon("user")(class="uk-margin-small-right")
                    span.tm-pseudo Profile
                li
                  a(href="/settings") 
                    +icon("cog")(class="uk-margin-small-right")
                    span.tm-pseudo Settings
                li.uk-nav-divider
                li
                  a(href="/auth/signout") Log out

      else
        a.uk-navbar-item.tm-navbar-button(href="/login")
            +icon("lock")(class="uk-margin-small-right")
            span.tm-pseudo LOG IN


      //- Cart
      a.uk-navbar-item.tm-navbar-button(
        href="cart"
        uk-toggle="target: #cart-offcanvas"
        onclick="return false")
        span(uk-icon="cart")
        span#badge_cart.uk-badge 0