div.uk-navbar-container.tm-navbar-container(uk-sticky="cls-active: tm-navbar-container-fixed" )
  div.uk-container(uk-navbar)(style="height:50px;   padding-bottom:5px; ")

    div.uk-navbar-left.uk-child-1-3

      //- Hamburger
      button(class="uk-navbar-toggle uk-hidden@m"
             uk-toggle="target: #nav-offcanvas"
             uk-navbar-toggle-icon)

      //- Logo
      a.uk-navbar-item.uk-logo(href="/")
        img(src="images/logo.png" width="auto" style=" object-fit:contain;" alt="Logo")

      //- Navigation
      nav(class="uk-visible@m")
      

    div.uk-navbar-center.uk-width-expand.uk-flex-center.uk-width-1-3(style="width:600px;")
      div#searchForm.uk-search.uk-search-default.uk-search-icon-flip(style="width:600px;background-color:#f0f0f0;")
        a#search_link.uk-search-icon-flip(href='', uk-search-icon='',style="border-radius-left-top:3px;")
        input#searchField.uk-search-input(type='text', placeholder='Search for products, brands and more', style="margin-left:10px;")

     
    div.uk-navbar-right.uk-flex-center.uk-width-1-5
      //- User
      if(session != "not_logged_in")  
          a.uk-navbar-item.tm-navbar-button
            img.uk-margin-small-right(src="https://img.icons8.com/color/30/000000/gender-neutral-user.png")
            span(style="font-size:14px;")  CHRIS
            img.uk-margin-small-right(src="https://img.icons8.com/color/27/000000/sort-down.png")
          div(class="uk-padding-small uk-margin-remove"
              uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;"
              style="min-width: 150px;") 
            
              ul.uk-nav.uk-nav-default.uk-dropdown-nav
                li
                  a(href="/orders")
                   img.uk-margin-small-right(src="https://img.icons8.com/color/24/000000/purchase-order.png")
                   span.tm-pseudo Orders
                li
                  a(href="/favorites") 
                    img.uk-margin-small-right(src="https://img.icons8.com/color/24/000000/like.png")
                    span.tm-pseudo Favorites
                li
                  a(href="/personal") 
                    img.uk-margin-small-right(src="https://img.icons8.com/color/24/000000/gender-neutral-user.png")
                    span.tm-pseudo Profile

                li
                  a(href="/settings") 
                    img.uk-margin-small-right(src="https://img.icons8.com/color/24/000000/gears.png")
                    span.tm-pseudo Settings
                li.uk-nav-divider
                li
                  a(href="/auth/signout") Log out

      else
        a.uk-navbar-item.tm-navbar-button(href="/login")
          img.uk-margin-small-right(src="https://img.icons8.com/color/30/000000/password.png")
          span(style="font-size:14px;") LOG IN


      //- Cart
      a.uk-navbar-item.tm-navbar-button(
        href="cart"
        uk-toggle="target: #cart-offcanvas"
        onclick="return false")
        img(src="https://img.icons8.com/color/30/000000/shopping-cart.png")
        span#badge_cart.uk-badge(class="uk-margin-small-left") 0

      
        