div.uk-grid-medium.uk-child-width-1-1(uk-grid)

  //- Items
  div
    div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
      div#products.uk-grid-collapse.uk-child-width-1-1(uk-grid)

        //- Settings
        div.uk-card-header.settings-header.uk-hidden
          div.uk-grid-small.uk-flex-middle(uk-grid)

            //- Sorting
            div(class="uk-width-1-1 " +
                      "uk-width-expand@s " +
                      "uk-flex " +
                      "uk-flex-center " +
                      "uk-flex-left@s " +
                      "uk-text-small")

              span.uk-margin-small-right.uk-text-muted Sort by:

              ul.uk-subnav.uk-margin-remove
                li.uk-active.uk-padding-remove
                  a.uk-text-lowercase.price_sort_link(href="#", sort_by="asc") price
                    +icon("chevron-up", ".5")(class="uk-margin-xsmall-left price_sort_icon_asc")
                    +icon("chevron-down", ".5")(class="uk-margin-xsmall-left price_sort_icon_desc uk-hidden")
              
            //- Filters button & change view
            div(class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-flex-middle")

              //- Filters button
              button(class="uk-button uk-button-default uk-button-small uk-hidden@m"
                     uk-toggle="target: #filters")
                +icon("settings", ".75")(class="uk-margin-xsmall-right")
                | Filters

              //- Change view
              div.tm-change-view.uk-margin-small-left
                ul(class="uk-subnav uk-iconnav js-change-view"
                   uk-switcher)
                  li
                    a.uk-active(data-view="grid"
                                uk-icon="grid"
                                uk-tooltip="Grid")
                  li
                    a(data-view="list"
                      uk-icon="list"
                      uk-tooltip="List")

        //- Items
        div
          div#product_div(class="uk-grid-collapse " +
                    "uk-child-width-1-3 " +
                    "tm-products-grid " +
                    "js-products-grid"
              uk-grid)


        //- Load more
        div.load_div.uk-hidden
          button.uk-button.uk-button-default.uk-button-large.uk-width-1-1(
            style="border-top-left-radius: 0; border-top-right-radius: 0;")
            +icon("plus", ".75")(class="uk-margin-small-right")
            span Load more
        img.loader(src="images/loading51.gif")    

  //- Pagination
  div.pagination_div.pagination_style
    nav.pagination.pagination_type2.pagination_type3
       ol.pagination__list
      

script.
       var resultsQu = "#{page.quantity}";
script(src="scripts/handler.js") 
