extends /layouts/_checkout

block vars
  -
    page = {
      title: 'Checkout'
    }
  
block checkout
   

  div.uk-grid-medium(uk-grid).uk-flex-middle.uk-flex-center

    //- Form
    form#checkout_form.uk-form-stacked.uk-width-1-1.tm-checkout(style="width:70%;") 

      div.uk-grid-medium.uk-flex-middle.uk-flex-center.uk-child-width-1-1(uk-grid)

        //- Payment
        section
          div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
            div.uk-card-body
              section.uk-text-center
                h2.uk-margin-small-top.uk-margin-remove-bottom.uk-text-bolder Checkout
                a.uk-text-small(href="/cart")
                  +icon("arrow-left", ".75")(class="uk-margin-xsmall-right")
                  | Return to cart
              h4.uk-text-muted.uk-text-bolder Select Payment Mode
              div#payment_mode(class="uk-grid-small " +
                        "uk-grid-match " +
                        "uk-child-width-1-1 " +
                        "uk-child-width-1-4@s " +
                        "uk-flex-center"
                  uk-switcher="toggle: > * > .tm-choose"
                  uk-grid)

                div.mode(mode="mobile")
                  a.tm-choose(href="#")
                    div.tm-choose-title Mobile Payment
                    div.tm-choose-description Pesapal(Mpesa,Airtel etc)

                div.mode( mode="credit_card")
                  a.tm-choose(href="#")
                    div.tm-choose-title Credit Card
                    div.tm-choose-description Visa, MasterCard

                div.mode( mode="paypal")
                  a.tm-choose(href="#")
                    div.tm-choose-title Paypal
                    div.tm-choose-description Pay with Paypal 

                div.mode( mode="POD")
                 a.tm-choose(href="#")
                   div.tm-choose-title Pay on Delivery
                   div.tm-choose-description Cash on Delivery   

            section.uk-card-body
              h4.uk-text-muted.uk-text-bolder Cart Items
              table.uk-table.uk-table-divider.uk-table-small.uk-table-hover.uk-table-striped
                thead
                  tr
                    th.uk-text-small Item
                    th.uk-text-small Price
                    th.uk-text-small Quantity
                    th.uk-text-small Total
                tbody#checkout_summary_cart(style="width:65%;")
                tbody
                  tr
                    td
                    td
                    td
                    td
                  tr
                    th.uk-text-small 
                    th.uk-text-small 
                    td.uk-text-small Subtotal:
                    td.uk-text-small#cart_subtotal
                  tr
                    th.uk-text-small 
                    th.uk-text-small 
                    td.uk-text-small Shipping Fee:
                    td.uk-text-small.uk-text-danger Ksh 200
                  tr
                    th.uk-text-small 
                    th.uk-text-small 
                    td.uk-text-small Discount:
                    td.uk-text-small.uk-text-success Ksh -100
                  tr
                    th.uk-text-small 
                    th.uk-text-small 
                    td.uk-text-small Total:
                    td.uk-text-small.uk-text-bolder.uk-text-primary#cart_total

              hr 
           
              div.uk-child-width-1-2(uk-grid)            

                div.uk-width-expand
                  div.uk-grid-small(uk-grid)
                    div
                      h4.uk-text-muted.uk-text-bolder Shipping Information
                  div.uk-grid-small(uk-grid)
                    div
                      div.uk-text-muted.uk-text-small.uk-text-bolder Names:
                    div
                      div.uk-text-small= address.fname + " "+address.lname
                  div.uk-grid-small(uk-grid)
                    div
                      div.uk-text-muted.uk-text-small.uk-text-bolder Phone:
                    div
                      div.uk-text-small= address.phone   
                  div.uk-grid-small(uk-grid)
                    div
                      div.uk-text-muted.uk-text-small.uk-text-bolder Email:
                    div
                      div.uk-text-small= address.email    
                  div.uk-grid-small(uk-grid)
                   div
                    div.uk-text-muted.uk-text-small.uk-text-bolder County:
                   div
                    div.uk-text-small= address.county   
                  div.uk-grid-small(uk-grid)
                    div
                      div.uk-text-muted.uk-text-small.uk-text-bolder Address:
                    div
                      div.uk-text-small= address.address  
                  div.uk-grid-small(uk-grid)
                    div
                      a.uk-button.uk-button-primary.uk-button-small.uk-margin-small.uk-width-1-1(href="/save-shipping-address") Edit details 
                      br     

                div
                  
                  div.uk-grid-small.uk-flex-center(uk-grid, style="margin-bottom:20px;")
                    div#checkout_submit

                  
              div.uk-card-footer
                  div.uk-grid-small.uk-flex-middle.uk-flex-center.uk-text-center(uk-grid)

                    div.uk-text-meta
                      +icon("lock", ".75")(class="uk-margin-xsmall-right")
                      | Security of payments is is provided by secure protocols

                    div
                      img(src="images/verified-by-visa.svg"
                          title="Verified by Visa"
                          style="height: 25px;")

                    div
                      img(src="images/mastercard-securecode.svg"
                          title="MasterCard SecureCode"
                          style="height: 25px;")

  script(src="scripts/handler.js") 
  script(src="scripts/payment.js") 
