extends /layouts/_default

block vars
  -
    page = {
      title: 'Home'
    }

block default  


  div.top_bar
    div.uk-grid.uk-grid-collapse.uk-grid-match(uk-grid)
      
      section#top_categories.uk-width-1-6
        div.top_bar_cat.uk-text-center
          span.uk-text-center(style="font-size:14px;") Shop By Categories

        .uk-card.uk-card-small.uk-card-default.uk-card-body
          
          ul.uk-nav-default.uk-nav-parent-icon(uk-nav='')
            li
              a(href='/category?c=Cat271057', style="color:teal;")
                span.uk-margin-small-right(uk-icon='icon: phone', style="color:teal;")
                |  Phones
            li
              a(href='category?c=Cat271057')
                span.uk-margin-small-right(uk-icon='icon: tablet')
                |  Tablets
            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: desktop')
              |  Desktops

            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: camera')
              |  Cameras

            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: nut')
              |  Clothes  

            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: cog')
              |  Accessories   

            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: database')
              |  Clothes

            li
             a(href='category?c=Cat271057')
              span.uk-margin-small-right(uk-icon='icon: nut')
              |  Machinery  

        div.bar_cat.uk-text-center
          span.uk-text-center(style="font-size:14px;") Deals 

        div.uk-card.uk-card-small.uk-card-default.uk-card-body
             
          each category in categories
            div
              a(class="uk-link-muted " +
                      "uk-text-center " +
                      "uk-display-block " +
                      "uk-padding-small " +
                      "uk-box-shadow-hover-large"+
                      "uk-flex"+
                      "uk-flex-center"
                href= category.href)
                if category.image
                  div.tm-ratio.tm-ratio-3-2
                    div.tm-media-box
                      figure.tm-media-box-wrap
                        img.item-brand.b-lazy(src="images/ajax-loader.gif" data-src= category.image alt= category.title)
                div.uk-margin-small-top
                  div.uk-text-muted= category.title
                  if category.comment
                    div.uk-text-meta.uk-text-xsmall.uk-text-truncate= category.comment 
    
      //- Media
      div.uk-width-2-3.uk-width-expand(style="  background-color: white;")
      
        //- Slider
        section.uk-position-relative.uk-visible-toggle.uk-light(uk-slideshow="max-height: 350; ratio: 7:3 ; autoplay: true;")
          div.uk-slideshow-items
            each item in promo
              li(style="background-color: " + item.background)
                a(href="#")
                  uk-height-1-1
                    img.center(src= item.image
                      width="1200"
                        alt= item.title
                        )

          a.uk-position-center-left.uk-position-small.uk-hidden-hover(
            href="#"
            uk-slideshow-item="previous"
            uk-slidenav-previous)
          a.uk-position-center-right.uk-position-small.uk-hidden-hover(
            href="#"
            uk-slideshow-item="next"
            uk-slidenav-next)

          div.uk-position-bottom-center.uk-position-small
            ul.uk-slideshow-nav.uk-dotnav


        div#top_tab(uk-tab='')
          li.uk-active
            a(href='#') Daily Deals
          li
            a(href='#') Laptops
          li
            a(href='#') Mobile
          li
            a(href='#') Computer Accessories
          li
            a(href='#') Networking Tools
          li
            a(href='#') Clothing 


        div.uk-margin-small-top(class="uk-grid-collapse " +
                  "uk-child-width-1-2 " +
                  "uk-child-width-1-2@m " +
                  "tm-products-grid"
            uk-grid, style="")

          - var count = 0
          each product in products
            if count < 7
              +product(product) 
            - count++; 

        div.category_header.uk-text-center
          span.uk-text-center(style="font-size:14px;") New Arrivals    

        div.uk-margin-small-top(class="uk-grid-collapse " +
                  "uk-child-width-1-2 " +
                  "uk-child-width-1-2@m " +
                  "tm-products-grid"
            uk-grid, style="")


          - var count = 0
          each product in products
            if count < 7
              +product(product) 
            - count++;  

        div.category_header.uk-text-center
          span.uk-text-center(style="font-size:14px;") Top Trending   

        div.uk-margin-small-top(class="uk-grid-collapse " +
                  "uk-child-width-1-2 " +
                  "uk-child-width-1-2@m " +
                  "tm-products-grid"
            uk-grid, style="")

          


          - var count = 0
          each product in products
            if count < 7
              +product(product) 
            - count++;                      
    
  
  
  //- Brands
  section.uk-section.uk-section-default.uk-section-small
    div.uk-container

      h2.uk-text-center Popular Brands

      div.uk-margin-medium-top(uk-slider="finite: true")
        div.uk-position-relative
          div.uk-grid-small.uk-flex-middle(uk-grid)

            div(class="uk-visible@m")
              a(href="#"
                uk-slidenav-previous
                uk-slider-item="previous")

            div.uk-width-expand.uk-slider-container
              ul(class="uk-slider-items " +
                       "uk-child-width-1-4 " +
                       "uk-child-width-1-6@s " +
                       "uk-grid " +
                       "uk-grid-large")
                each brand in brands
                  li
                    div.tm-ratio.tm-ratio-16-9
                      a.uk-link-muted.tm-media-box.tm-grayscale(
                        href="#"
                        title= brand.name)
                        figure.tm-media-box-wrap
                          img(src= brand.image alt= brand.name)

            div(class="uk-visible@m")
              a(href="#"
                uk-slider-item="next"
                uk-slidenav-next)

        ul(class="uk-slider-nav " +
                 "uk-dotnav " +
                 "uk-flex-center " +
                 "uk-margin-medium-top " +
                 "uk-hidden@m")

      div.uk-margin.uk-text-center
        +link-to-all("see all brands", "brands")




  //- Subscribe
  section.uk-section.uk-section-primary.uk-section-small.uk-light
    div.uk-container

        div.uk-text-center
          div.uk-h2.uk-margin-remove Subscribe for updates
          div Be aware of new products and special offers.

        div.uk-margin
          form
            div.uk-grid-small.uk-flex-center(uk-grid)
              div(class="uk-width-1-1 uk-width-medium@s")
                div.uk-inline.uk-width-1-1
                  span.uk-form-icon(uk-icon="mail")
                  input.uk-input(type="email" placeholder="Your email" required)
              div
                button.uk-button.uk-button-primary subscribe

            