mixin product(product)

  article.tm-product-card.products_width

    //- Media
    div.tm-product-card-media
      div
        a.tm-media-box(href="product?id="+product.id)

          //- Labels
          if product.statuses
            div.tm-product-card-labels
              each status in product.statuses
                case status
                  when "new"
                    span.uk-label.uk-label-success= status
                  when "top selling"
                    span.uk-label.uk-label-warning= status
                  when "trade-in"
                    span.uk-label.uk-label-danger= status
                  default
                    span.uk-label= status

          //- Image
          figure.tm-media-box-wrap
            if product.image
              img.product_image.b-lazy(src="images/ajax-loader.gif" data-src=product.image.medium alt= product.name )
            else
              +icon("image", "3")(class="uk-text-muted")

    //- Body
    div.tm-product-card-body

      //- Info
      div.tm-product-card-info

        //- Brand
        div.uk-flex-middle
         div.brand_prod.uk-flex.uk-flex-left= product.brand.name
         div(style="margin-bottom:10px;")
          ul.uk-iconnav.uk-margin-xsmall-bottom.tm-rating
            li: +icon("star","0.8")(class="uk-text-warning")
            li: +icon("star","0.8")(class="uk-text-warning")
            li: +icon("star","0.8")(class="uk-text-warning")
            li: +icon("star","0.8")(class="uk-text-secondary")
            li: +icon("star","0.8")(class="uk-text-secondary")
            li: span.uk-text-secondary.uk-text-xsmall (102)

        //- Title
        h3.tm-product-card-title
          a.uk-link-heading(href="product?id="+product.id)= product.name 

        //- Properties
        if product.properties
          ul.uk-list.uk-text-small.tm-product-card-properties
            each value, property in product.properties
              li
                span.uk-text-muted!= property + ": "
                span!= value

      //- Shop
      div.tm-product-card-shop

        //- Prices
        div.tm-product-card-prices
          if product.isNotAvailable
            div.uk-text-muted Product not available
          else
            if product.oldPrice != -1
              del.uk-text-meta=  "Ksh "+product.oldPrice.toLocaleString()
            div.tm-product-card-price=  "Ksh "+product.price.toLocaleString()

        //- Actions buttons
        div.tm-product-card-add
          div.uk-text-meta.tm-product-card-actions

            //- Favorite
            a.tm-product-card-action.js-add-to.js-add-to-favorites(
              class= { "tm-action-button-active js-added-to": product.isAddedToFavorites }
              title="Add to favorites")
              +icon("heart", "1.0") 
              span.tm-product-card-action-text Add to favorites

          //- Add to cart
          if !product.isNotAvailable
              button.uk-button.uk-button-primary.uk-button-xsmall.tm-shine.js-add-to-cart Buy Now


